input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select {
        width: 100%; }

.container .column, .container .columns {
float: none;
}

.no-underline{
    text-decoration: none;
}