{% extends "layout.html" %}
{% block body %}
<ul id="nav">
    <li><a href="{{url_for('get_all_posts')}}"> Cancel </a></li>
</ul>
<h2>Getting Location Information</h2>
<h5>We can't do our thing without it</h5>
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }} {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<form action="{{ url_for('login') }}" method="POST">
    <div id='locationFields'><p>Getting your location... Please allow your browser to tell us.</p></div>
    <button type="submit">Submit</button>
</form>

<script type="text/javascript">
    loc = {'lat': 19, 'lon': 72};
    function fieldAppear(loc){
        document.getElementById('locationFields').innerHTML = 
            "<label for='lat'>Latitude</label>" +
            "<input type='text' name='lat' value="+loc.lat+">" +
            "<label for='lon'>Longitude</label>" +
            "<input type='text' name='lon' value="+loc.lon+">" + 
            "";
    }
    function gotLocation(position){
        loc = {'lat': position.coords.latitude,
               'lon': position.coords.longitude}
        fieldAppear(loc);
    }
    function noLocation(err){
        alert("Couldn't get your location");
        loc = {'lat': {{config['DEFAULT_LOC']['lat']}},
               'lon': {{config['DEFAULT_LOC']['lon']}}};
        fieldAppear(loc);
    }
    navigator.geolocation.getCurrentPosition(gotLocation, noLocation);
</script>
{% endblock %}