{% extends "layout.html" %}
{% block body %}
<h2> Create New Post</h2>
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }} {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<form action="{{ url_for('new_post') }}" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" width=110>

    <label for="body">Text</label>
    <textarea name="body" rows=15></textarea>
    <div id='locationFields'><p>Getting your location... Please allow your browser to tell us.</p></div>
    <button type="submit">Submit</button>
</form>

<script type="text/javascript">
    function fieldAppear(position){
        document.getElementById('locationFields').innerHTML = 
            "<input type='hidden' name='locx' value="+position.coords.longitude+">" + 
            "<input type='hidden' name='locy' value="+position.coords.latitude+">" +
            "<p>Longitude: " + position.coords.longitude + "</p>" +
            "<p>Latitude: " + position.coords.latitude + "</p>" ;
            console.log("in here");
    }
    function locationError(err){
        alert("Location needed for this service")
    }
    function getLocation(func, errFunc) {
        navigator.geolocation.getCurrentPosition(func, errFunc);
    }
    getLocation(fieldAppear, locationError) 
</script>
{% endblock %}